body {
  background-color: rgb(203, 225, 219);
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.nav-container {
  background-color: rgb(222, 247, 237);
  display: flex;
  justify-content: center;
}

.navbar {
  width: 80%;
  justify-content: center;
}

.container { 
  justify-content: center;
  text-align: center;  
}

.header {
  justify-content: center;
  text-align: center;
}

.column {
  justify-content: center;
  text-align: center;
  max-height: 450px;
}

.column {
  float: left;
  width: 23%;
  padding: 20px;
}

.bg-primairy {
  color : white;
}

.title {
  font-family: 'Cairo Play', cursive;
  font-family: 'Oswald', sans-serif;
  color: white;
}

.text-white p {
  font-family: 'Bebas Neue', cursive;
}

@media screen and (max-width: 992px) {
  .column {
    width: 46%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
